@media screen and (min-width: 1200px) {
    .background-mobile {
        display: none;
    }

    .project-container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .cards-container {
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100vh;
        background-image: url(/images/bg-main-desktop.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .card-back {
        left: 258px;
        top: 469px;
    
        width: 447px;
        height: 245px;
        background-image: url(/images/bg-card-back.png);
    }

    .card-back__cvc {
        position: relative;
        left: 362px;
        top: 110px;
    
        font-size: 14px;
    }

    .card-front {
        z-index: 3;
        position: relative;
        bottom: 58px;
        left: 164px;
    
        width: 447px;
        height: 245px;
        padding: 30px;
    }

    .card-front img {
        width: 85;
        height: 47px;
    }

    .card-front__main-number {
        margin-top: 58px;
    
        font-size: 30px;
        letter-spacing: 2px;
    }
    
    .card-front__info-container {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    .form-container {
        position: absolute;
        display: flex;
        left: 832px;
        top: 277px;
        width: 380px;
        height: 351px;
        margin-top: 0;
    }

    .input-date-container {
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 20px;
    }

    .input-date {
        flex: auto;
        position: relative;

    }
    
    .input-date-flex {
        display: flex;
        flex: 1;
        gap: 10px;
    }
    
    .input-date-flex input {
        width: 80px;
    }

    .cvc {
        width: 100%;
    }

    .form-button {
        margin-top: 15px;
    }

    .success-section {
        display: none;
        position: absolute;
        left: 832px;
        top: 305px;
        width: 380px;
        height: 351px;
        margin-top: 0;
        padding: 0;

        flex-direction: column;
        align-items: center;
    
        font-family: 'Space Grotesk', sans-serif;
    }
    
    .success-section img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    
    .success-title {
        letter-spacing: 4px;
        color: var(--neutral-color-violet-600);
        margin-top: 35px;
        text-transform: uppercase;
        font-size: 28px;
    }
    
    .success-p {
        color: var(--neutral-color-violet-400);
        margin-top: 10px;
        font-size: 18px;
        letter-spacing: 0.3px;
    }
    
    .success-button {
        margin-top: 45px;
        padding: 14px 0;
        width: 100%;
    
        background-color: var(--neutral-color-violet-600);
        border: none;
        border-radius: 7px;
    
        font-family: 'Space Grotesk', sans-serif;
        font-size: 18px;
        color: var(--neutral-color-white);
        cursor: pointer;
    }
}