:root {
    --primary-color-purple: hsl(259, 100%, 65%);
    --primary-color-red: hsl(0, 100%, 67%);
    --neutral-color-white-100: hsl(0, 0%, 100%);
    --neutral-color-white-200: hsl(0, 0%, 94%);
    --neutral-color-grey-200: hsl(0, 0%, 86%);
    --neutral-color-grey-400: hsl(0, 1%, 44%);
    --neutral-color-black: hsl(0, 0%, 8%);

    --font-poppins: 'Poppins', sans-serif;
}

body {
    background-color: var(--neutral-color-white-200);;
}

.card {
    background-color: var(--neutral-color-white-100);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 342px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    border-radius: 25px 25px 100px 25px;
    box-shadow: 8px 10px 10px hsla(0, 0%, 86%, 0.1);

    font-family: var(--font-poppins);
}

.card-form {
    width: max-content;
    text-transform: uppercase;
    padding: 47px 23px 0 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-form__inputs-container {
    display: flex;
    justify-content: center;
    gap: 17px;
}

.card-form__input-div {
    display: flex;
    flex-direction: column;
}

.card-form__label {
    letter-spacing: 0.2rem;
    font-size: 12px;
    color: var(--neutral-color-grey-400);
    margin-bottom: 5px;
}

.card-form__input {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;         


    width: 87px;
    height: 54px;

    border: 1.9px solid var(--neutral-color-grey-200);
    border-radius: 7px;

    font-size: 20px;
    font-family: var(--font-poppins);
    color: var(--neutral-color-black);
    padding-left: 15px;
}

.card-form__input:focus {
    outline: none;
    border:2px solid var(--primary-color-purple);
}

.card-form__input::placeholder {
    font-family: var(--font-poppins);
}

.card-form__button {
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 100%;
    padding: 19px;
    background-color: var(--primary-color-purple);
    border: none;
    outline: none;
    align-items: center;
    align-self: center;
}

.card-form__button img {
    align-self: center;
    width: 25px;
    height: 25px;
    object-fit: fill;
}

.card-form__divider {
    position: relative;
    z-index: -2;
    top: 62px;
    align-self: center;
    background-color: var(--neutral-color-grey-200);
    height: 2px;
    width: 86%;
    opacity: 0.6;
}

.card-results {
    margin-top: 40px;
    padding-left: 23px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;

    font-size: 3.5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 3.7rem;
}

#number-span {
    color: var(--primary-color-purple);
}