
@media screen and (min-width: 700px) {
    /* body {
        background-color: bisque;
    }

    .calculator {
        width: 70vw;
        height: 60vh;
    }
    

    .calculator-header {
        display: flex;
        justify-content: space-between;
    }
    
    .calculator__switch-container {
        display: flex;
    } */
}