:root {
    --primary-color-blue-200: hsl(220, 98%, 61%);
    --primary-check-bg: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));

    --light-grey-100: hsl(0, 0%, 98%);
    --light-grey-200: hsl(236, 33%, 92%);
    --light-grey-400: hsl(233, 11%, 84%);
    --light-grey-600: hsl(236, 9%, 61%);
    --light-grey-800: hsl(235, 19%, 35%);

    --dark-blue-400: hsl(235, 21%, 11%);
    --dark-blue-600: hsl(235, 24%, 19%);
    --dark-grey-100: hsl(234, 39%, 85%);
    --dark-grey-200-hover: hsl(236, 33%, 92%);
    --dark-grey-400: hsl(234, 11%, 52%);
    --dark-grey-600: hsl(233, 14%, 35%);
    --dark-grey-800: hsl(237, 14%, 26%);

    --font-primary: 'Josefin Sans', sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #F6F6F8;
}

.background-top {
    width: 100vw;
    height: 12.5rem;

    background-image: url("/images/bg-desktop-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.dark-mode-background-top {
    background-image: url("/images/bg-desktop-dark.jpg");
}

.app-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2.6rem;

    min-width: 87.4%;
    max-width: 30rem;
}

.title-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    font-family: var(--font-primary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.6rem;

    color: white;
}

.theme-switch {
    height: 28px;
    width: 20px;
    vertical-align: middle;

    border: none;
    background: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/images/icon-moon.svg);

    cursor: pointer;
}

.theme-switch:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(1%) saturate(84%) hue-rotate(314deg) brightness(98%) contrast(103%);
}

.dark-mode-switch {
    background-image: url(/images/icon-sun.svg);
}

.input-container {
    margin-top: 1.6rem;

    width: 100%;
    height: 3rem;
    padding: 0 1.3rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;

    background-color: white;
    border-radius: 0.3rem;
}

.dark-mode-input-container {
    background-color: #25273D;
}

.add-button {
    z-index: 20;
    position: relative;
    width: 20px;
    height: 20px;
    align-self: center;
    vertical-align: middle;
    
    background: none;
    border: 1px solid var(--light-grey-200);
    border-radius: 100%;
    
    cursor: pointer;
}

.dark-mode-add-button {
    background-color: #25273D;
    color: var(--dark-grey-100);
}

.dark-mode-add-button:hover {

}

.checkmark {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.done-light {
    border: 1px solid transparent;
    background:  linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

.check {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: contain;
}

.add-button:hover {
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

#addButton:active {
    border: 1px solid transparent;
    background: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

#inputTodo {
    width: 100%;
    border: none;
    background: none;
    margin-top: 3px;

    font-family: var(--font-primary);
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--light-grey-800);
}

.dark-mode-input-todo {
    color: #ffffff !important;
}

#inputTodo:focus {
    outline: none !important;
}

#inputTodo::placeholder {
    color: var(--light-grey-600);
    opacity: 0.6;
}

.todo-list {
    margin-top: 1rem;

    width: 100%;
    border-radius: 0.3rem;
    font-family: var(--font-primary);
}

.todo-list > article:first-child {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.todo-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1.2em 1rem 1.3rem;

    background-color: white;
    color: var(--light-grey-800);

    font-size: 0.7rem;
    font-weight: 700;

    border-bottom: 1.5px solid var(--light-grey-200);
}

.dark-mode-todo-container {
    background-color: #25273D;
    color: var(--dark-grey-100);
    border-bottom: 1.5px solid #383B50;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.todo-text {
    margin-top: 3px;
    opacity: 0.7;
}

.crossed-text {
    opacity: 0.3;
    text-decoration: line-through;
}

.todo-close {
    border: none;
    background: none;
    width: 25px;

    cursor: pointer;
}


.todo-footer {
    width: 100%;
    padding: 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: white;
    color: var(--light-grey-600);
    font-size: 0.7rem;
    font-weight: 700;
    font-family: var(--font-primary);
    
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.desktop-footer {
    display: none;
}

.todo-footer p {
    opacity: 0.7;
}

.dark-mode-todo-footer {
    background-color: #25273D;
    color: #50526B;
}


.app-filter-container {
    margin-top: 1rem;

    width: 100%;
    height: 3rem;
    padding: 0 1.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    background-color: white;
    border-radius: 0.3rem;
}

.dark-mode-filters {
    background-color: #25273D;
    color: #8284a8;
}

.dark-mode-filters > button {
    color: #8284a8;
}

.filter-button {
    background: none;
    border: none;

    font-family: var(--font-primary);
    color: var(--light-grey-800);
    opacity: 0.6;

    font-weight: 700;
    cursor: pointer;
}

.filter-button:hover {
    color: #0b0b0e;
}

.selected-filter-light {
    opacity: 1;
    color: #557FD2;
}

.app-container__text {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    text-align: center;

    font-size: 0.8rem;
    font-family: var(--font-primary);
    color: var(--light-grey-800);
    opacity: 0.4;

    font-weight: 700;
}