:root {
    --primary-color-orange-400: hsl(26, 100%, 55%);
    --primary-color-orange-100: hsl(25, 100%, 94%);

    --neutral-color-blue-800: hsl(220, 13%, 13%);
    --neutral-color-blue-600: hsl(219, 9%, 45%);
    --neutral-color-blue-400: hsl(220, 14%, 75%);
    --neutral-color-blue-200: hsl(223, 64%, 98%);
    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-black: hsl(0, 0%, 0%);

    --font-kumbh: 'Kumbh Sans', sans-serif;
}

nav {
    list-style: none;
    color: black;
}

a {
    text-decoration: none;

}

a:visited {
    color: inherit;
}

header {
    margin: 0 auto;

    width: 77%;
    padding: 1.75rem 0 2.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 0.15px solid hsla(0, 0%, 52%, 0.1);
}

.header__left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu-icon  {
    display: none;
}

header nav {
    margin-left: 3.5rem;
    
    display: flex;
    align-items: center;
    gap: 2rem;
    
    font-size: 15.4px;
    font-family: var(--font-kumbh);
    color: var(--neutral-color-blue-600);
}

.header__right-section {
    display: flex;
    align-items: center;
    gap: 2.9rem;
}

.avatar-pic {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

main {
    width: 100%;
    padding: 5.56rem 13.2rem;
}

.product-container {
    margin: 0 auto;
    display: flex;
    gap: 7.8rem;
}

.product-image {
    flex: 1;
}

.product-image__arrows-container {
    display: none;
}

.product-image__main-img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.product-image__main-img img {
    border-radius: 1rem;
}

.product-image__carousel {
    margin-top: 2rem;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.9rem;
}

.product-image__carousel img {
    width: 100%;
    border-radius: 0.8rem;
    object-fit: contain;
}

.product-image__carousel img:hover {
    cursor: pointer;
    opacity: 0.2;
}

.product-text-container {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    font-family: var(--font-kumbh);
}

.product-text-container h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 1px;
    
    color: var(--primary-color-orange-400);
}

.product-text-container h1 {
    margin: 1rem 0 2rem 0;
    font-size: 2.77rem;
    font-weight: 700;
    line-height: 1.1;
}

.product-description {
    color: var(--neutral-color-blue-600);
    margin-bottom: 1.5rem;

    line-height: 1.63;
}

.discounted-price__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.discounted-price {
    margin-right: 1rem;

    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1px;

    font-family: var(--font-kumbh);
}

.discount {
    font-weight: 700;
    font-size: 1.05rem;

    padding: 2px 9px;
    border-radius: 5px;

    color: var(--primary-color-orange-400);
    background-color: var(--primary-color-orange-100);
    font-family: var(--font-kumbh);
}

.old-price {
    margin-top: 5px;

    color: var(--neutral-color-blue-600);
    text-decoration: dashed;
    opacity: 0.75;
    font-size: 1.05rem;
}

.buy-section {
    margin: 2.2rem 0 1rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;

    padding: 1rem 1.8rem;
    border-radius: 0.7rem;
    
    font-weight: 700;
    background-color: var(--neutral-color-blue-200);
}

.buy-section button {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    padding: 1rem 4.5rem;
    
    color: var(--neutral-color-white);
    background-color: var(--primary-color-orange-400);
    border: none;
    border-radius: 0.7rem;

    font-family: var(--font-kumbh);
    font-size: 1rem;
    font-weight: 800;

    box-shadow: 0px 22px 30px hsla(26, 100%, 55%, 0.2);
}

.buy-section button img {
    width: 18px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(21%) hue-rotate(216deg) brightness(107%) contrast(106%);
}

.active-image {
    opacity: 0.2;
    border: 2px solid rgb(255, 111, 0);
}

.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 20;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsla(0, 0%, 0%, 0.75);
}

.flex {
    display: flex;
}

.light-main-img__container {
    width: 34.3rem;
}

.light-close {
    left: 528px;
    position: relative;
    margin-bottom: 23px;

    width: 21px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(21%) hue-rotate(216deg) brightness(107%) contrast(106%);
}

.lightbox__arrows-container {
    position: absolute;
    align-self: center;
    top: 23.2rem;
    left: 26.2rem;
    width: 37.7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lightbox__arrows-container img {
    background-color: white;
    padding: 19px 22px;
    border-radius: 100%;
}

#lightMainImg {
    border-radius: 1rem;
}

.lightbox-carousel {
    margin-top: 2.5rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.95rem;

    width: 28rem;
}

.lightbox-img-container {
    border-radius: 0.7rem;
    position: relative;
}

.lightbox-image-button {
    z-index: 20;
    border-radius: 0.7rem;
}


.overlay {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    right: 0;
    
    border-radius: 0.7rem;
}

.overlay:hover {
    background-color: hsla(0, 0%, 100%, 0.7);
}

.orange-border {
    outline: 3px solid var(--primary-color-orange-400);
}

.lightbox-white {
    background-color: hsla(0, 0%, 100%, 0.7);
}

