:root {
    --primary-color-grey-800: hsl(0, 0%, 17%);
    --primary-color-grey-600: hsl(0, 0%, 59%);

    --font-primary: 'Rubik', sans-serif;
}

html, body {
    overflow-x: hidden;
}

.background-top {
    width: 100%;
    height: 18.75rem;

    background-image: url("/images/pattern-bg-mobile.png");
}

.app-container {
    position: absolute;
    top: 1.45rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    width: 20.5rem;

    font-family: var(--font-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.app-container h1 {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.input-container {
    position: relative;
    margin-top: 1.5rem;
    width: 100%;

    display: flex;
    gap: 0;
}

.input-container input {
    flex: 1.67;

    padding: 1.25rem;
    font-size: 1rem;

    border: none;
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.input-container input:focus {
    outline: none !important;
    -webkit-box-shadow:inset 0px 0px 0px 1.9px var(--primary-color-grey-600);
    -moz-box-shadow:inset 0px 0px 0px 1.9px var(--primary-color-grey-600);
    box-shadow:inset 0px 0px 0px 1.9px var(--primary-color-grey-600);
}

.input-container input::placeholder {
    font-size: 0.8rem;
}

.input-container button {
    flex: 0.33;
    border: none;
    background-color: black;
    display: flex;

    align-items: center;
    justify-content: center;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.input-container button:hover {
    cursor: pointer;
    background-color: var(--primary-color-grey-800);
}

.input-container button:active {
    cursor: pointer;
    background-color: var(--primary-color-grey-600);
}

.error-message {
    position: absolute;
    display: none;
    top: 3.7rem;
    left: 5px;

    color: rgb(255, 12, 12);
    font-size: 0.8rem;
}

.error-border {
    outline: none !important;
    -webkit-box-shadow:inset 0px 0px 0px 1.9px rgb(255, 12, 12);
    -moz-box-shadow:inset 0px 0px 0px 1.9px rgb(255, 12, 12);
    box-shadow:inset 0px 0px 0px 1.9px rgb(255, 12, 12);
}

.data-container {
    margin-top: 1.5rem;
    width: 100%;

    background-color: white;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-top: 1.7rem;
}

.data-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.7rem;

    width: 100%;
}

.data-section h5 {
    color: var(--primary-color-grey-600);
    text-transform: uppercase;

    font-size: 0.6rem;
    line-height: 1;
    letter-spacing: 1.7px;
    font-weight: 700;
}

.data-section p {
    position: absolute;
    top: 15px;
    text-align: center;

    font-size: 1.24rem;
    color: var(--primary-color-grey-800);
    font-weight: 500;
}

.map-container {
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 18.75rem);

    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 100%;
    z-index: -10;
}